{%extends 'admin/base_site.html'%}
{%load i18n%}
{%block extrastyle%}
<style>
  .content-panel{
    min-height: 450px;
  }
</style>
{%endblock%}
{%block navs%}
<i class="fa fa-angle-right"></i>&nbsp; <a class="m" href="{%url 'admin:password_change_done'%}"><span>{% translate 'Password Change Result'%}</span></a>
{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content-panel">
				 
				<div class="text-center">
						
						
                            <h2>{% translate 'Hey! Your password was changed Succesfully.' %}</h2>
                            <div class="breadcrumbs">
                                <a class="btn btn-primary" href="{% url 'admin:index' %}">Go To {% translate 'Home' %}</a>
                            </div>
				</div>
			 
			</div>
			<!-- /content area -->
			 
{%endblock%}

