{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}
<style>
  .errorlist{
    color: red;
  }
  .content-panel{
    min-height: 450px;
  }
</style>
{%endblock%}
{%block title%}LifeMap-Password Change Form{%endblock%}
{%block page_title%}
  <h3>User Passwrod Change Form</h3>
  {%endblock%}
{%block page_links%}
<li class="breadcrumb-item" aria-current="page"><a href="{%url 'admin:my_profile' pk=user.id%}">My Profile</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:password_change'%}">Password Change Form</a></li>
{%endblock%}

{%block content%}
    <section class="content-panel">
        <div class="row">
          <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6 col-lg-offset-1 detailed">
                <form role="form" action="{%url 'admin:password_change'%}" method="POST"
                   enctype="multipart/form-data" class="form-horizontal  style-form">
                  {%csrf_token%}
                    {{form|crispy}}
                     
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-primary" type="submit">{% translate 'Save'%}</button>
                      <a href="{%url 'admin:index'%}" class="btn btn-danger" type="button">{% translate 'Cancel'%}</a>
                    </div>
                  </div>
                </form>
              </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </section>
{%endblock%}
