{%load i18n%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeMap - Password Reset Complete</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/pages/auth.css">
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-8 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{% url 'admin:index'%}"><img src="/static/images/logo/logo.png" alt="Logo"></a>
                    </div>
                    <p class="auth-subtitle mb-5">Your password has been set.  You may go ahead and log in now.</p>
                    <a href="{%url 'admin:login' %}" class="btn btn-success">Log In</a>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>

    </div>
</body>

</html> 