{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}

<style>
  .content-panel {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 600px;
  }
</style>

{%endblock%}
{%block web%}active{%endblock%}
{%block web_submenu%}active{%endblock%}
{%block page_title%}
<h3>{{subtitle}}</h3>
{%endblock%}
{%block page_links%}
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:get_all_service'%}">Service List</a></li>
{%endblock%}
{%block content%}

<div class="card">
  <div class="card-header">
      {% if perms.auth.web.add_service or user.is_superuser %}
    <a type="button" href="{%url 'admin:create_service'%}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
      {%translate 'Add New Service'%}</a>
    {%endif%}
  </div>
  <hr>
  <div class="card-body">
    <table class="table table-striped" id="hidden-table-info">
      <thead>
        <tr>
          <th>{%translate 'No'%}</th>
          <th>{%translate 'Title'%}</th>
          <th class="hidden-phone">{%translate 'Description'%}</th>
          <th>{%translate 'Action'%}</th>
        </tr>
      </thead>
      <tbody>
        {%for object in vehicle_data%}
        <tr class="gradeA">
          <td>{{forloop.counter}}</td>
          <td>{{object.title}}</td>
          <td >{{object.description|slice:":80"}}</td>
           <td>
      {% if perms.auth.web.change_service or user.is_superuser %}
              {% if object.is_active %}
                          <a href="{%url 'admin:activate_deactivate_service' web_id=object.id%}" data-driver-id="{{ object.id }}"
                            title="Activate Deactivate Service" class="activate-driver btn btn-danger btn-sm">
                            <i class="bi bi-x-circle"></i>
                          </a>

              {% else %}
                          <a href="{%url 'admin:activate_deactivate_service' web_id=object.id%}" data-driver-id="{{ object.id }}"
                            title="Activate Deactivate Service" class="activate-driver btn btn-success btn-sm">
                            <i class="bi bi-check-circle"></i>
                          </a>

              {% endif %}

             <a href="{%url 'admin:update_service' web_id=object.id%}" title="Update/View Service Information"
                class="btn btn-primary btn-sm">
                <i class="bi bi-pencil-square"></i>
              </a>
              </a>
            {%endif%}

      {% if perms.auth.web.delete_service or user.is_superuser %}
            <a href="{% url 'admin:delete_service' web_id=object.id %}" title="Delete Service"
  class="btn btn-danger btn-sm delete-driver" data-driver-id="{{ object.id }}">
  <i class="bi bi-archive"></i> 
</a>            {%endif%}

          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endblock%}
{%block scripts%}
{%endblock%}