{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}
<link rel="stylesheet" href="/static/vendors/choices.js/choices.min.css" />
<style>
  .errorlist {
    color: red;
  }
  .image-link {
    display: inline-block;
}

/* Style for circular or square shape */
.rounded-image {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* For a circular shape; Use border-radius: 8px; for a square shape */
    overflow: hidden;
    border: 2px solid #ccc; /* Optional: Add border */
}

/* Style for the image */
.rounded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}

/* Optional hover effect */
.rounded-image:hover {
    border-color: #000; /* Change border color on hover */
}

</style>
{%endblock%}
{%block web%}active{%endblock%}
{%block web_submenu%}active{%endblock%}
{%block page_title%}
<h3>{{subtitle}}</h3>
{%endblock%}
{%block page_links%}
<li class="breadcrumb-item" aria-current="page"><a href="{%url 'admin:get_all_about'%}">About List</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:get_one_about' web_id=object.id%}">About  Detail</a></li>
{%endblock%}

{%block content%}
<div class="card">
  <h4 class="card-header">{% translate 'Service Information'%}</h4>
  <div class="card-body">

    <form role="form" action="{%url 'admin:update_service' web_id=object.id%}" method="POST" enctype="multipart/form-data"
      class="form-horizontal  style-form">
      {%csrf_token%}
      <!-- {{form|crispy}} -->      
      <!-- second row -->
      <div class="form-group row">
        <div class="col-md-6">
             <label>{{form.title.label}}</label>
                  {{form.title}}
              <p class="alert-warning">{{form.title.errors}}</p>
        </div>

        <div class="col-md-6">
          <label>{{form.image.label}}</label>
          <div class="input-group">
            {{form.image}}
            {%if object.image%}
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" type="button">
              View
            </button>
            {%endif%}
          </div>
        
          {{form.image.help_text}}
          <p class="alert-warning">{{form.image.errors}}</p>
        </div>
          
      </div>



      <div class="form-group row">
                <div class="col-md-12">
                
                  <label>{{form.description.label}}</label>
                  {{form.description}}
                  <p class="alert-warning">{{form.description.errors}}</p>
                </div>
      </div>

      <div class="card-body">
        <div class="col-md-6">
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Service Image</h5>
                  </h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="modal-body text-center">
                    {%if object.image%}
                    <img id="profileImage" src="{{ object.image.url }}" class="img-fluid" alt="Slider Image">
                    {%endif%}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-primary">{% translate 'Save Changes'%}</button>
          <a href="{%url 'admin:get_all_service' %}" class="btn btn-danger" type="button">{% translate 'Cancel'%}</a>
        </div>
      </div>
    </form>
  </div>

</div>


{%endblock%}

{%block scripts %}
<script src="/static/vendors/choices.js/choices.min.js"></script>
<script src="/static/js/pages/form-element-select.js"></script>

{%endblock%}