{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adinas Car Rent - {% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/filepond.css">
    <link rel="stylesheet" href="/static/css/filepond-plugin-image-preview.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="shortcut icon" href="/static/images/logo/favicon.png" type="image/x-icon"><link
    rel="stylesheet"
    type="text/css"
    href="/static/vendors/DataTables/datatables.min.css"
  />

    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body>
    <div id="app">
        {# {%include 'admin/includes/sidebar.html'%} #}
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="{%url 'admin:index'%}">
                                <img src="/static/images/logo/logo-dark.png" class="w-100 h-100" alt="Logo"
                                    srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item {%block dashboard%}{%endblock%}">
                            <a href="{%url 'admin:index'%}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>


                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block drivers%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-car-front-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17 1.247 0 3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z" />
                                </svg> <span>Fleets</span>
                            </a>

                            <ul class="submenu {%block drivers_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_owners'%}">Owners</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_vehicles'%}">Vehicles</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_drivers'%}">Drivers</a>
                                </li>

                            </ul>
                        </li>
                        {%endif%}

                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block clients%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-stack" viewBox="0 0 16 16">
                                    <path
                                        d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
                                    <path
                                        d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
                                </svg> <span>Client</span>
                            </a>
                            <ul class="submenu {%block clients_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_clients'%}">All Clients</a>
                                </li>

                            </ul>
                        </li>
                        {%endif%}

                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block requests%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-capslock-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z" />
                                </svg> <span>Vehicle Booking</span>
                            </a>
                            <ul class="submenu {%block requests_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_request'%}">Vehicle Bookings</a>
                                </li>

                            </ul>
                        </li>
                        {%endif%}

                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block settings%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-gear-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                </svg>
                                <span>Setting</span>
                            </a>
                            <ul class="submenu {%block settings_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_interest'%}"><span>Area Of Interest</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_type'%}"><span>Vehicle Type</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_brand'%}"><span>Vehicle Brand</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_model'%}"><span>Vehicle Model</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_color'%}"><span>Vehicle Color</span></a>
                                </li>


                            </ul>

                        </li>
                        {%endif%}


                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block web%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-activity" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2" />
                                </svg> <span>Web Setting</span>
                            </a>
                            <ul class="submenu {%block web_submenu%}{%endblock%}">
                                <li class="submenu-item ">                                                            
                                     <a href="{%url 'admin:get_all_message'%}">
                                        <span>Message</span>
                                    </a>
                                 </li>

                                <li class="submenu-item ">

                                    <a href="{%url 'admin:get_all_slider'%}">
                                        <span>Slider</span>
                                    </a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_partner'%}"><span>Partner</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_about'%}"><span>About</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_testimonal'%}"><span>Testimonial</span></a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_service'%}"><span>Service</span></a>
                                </li>


                            </ul>

                        </li>
                        {%endif%}
                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block report%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5" />
                                </svg>
                               <span>Report</span>
                            </a>
                            <ul class="submenu {%block report_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:get_all_filter_vehicle'%}">
                                        <span>Vehicle</span>
                                    </a>
                                </li>
                        
                                <li class="submenu-item ">
                        
                                    <a href="{%url 'admin:get_all_filter_booking'%}">
                                        <span>Booking</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {%endif%}    
                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block users%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>User</span>
                            </a>
                            <ul class="submenu {%block users_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:users_list'%}">Users</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:group_list'%}">Privilages</a>
                                </li>
                                <li class="submenu-item">
                                    <a target="_blank" href="/admin/fcm_django/fcmdevice/">
                                        Fcm Devices
                                    </a>
                                  </li>
                            </ul>
                        </li>
                        {%endif%}
                        {%if user.is_superuser%}
                        <li class="sidebar-item {%block archive%}{%endblock%} has-sub ">
                            <a href="#" class='sidebar-link'>
                                <!-- <i class="bi bi-recycle"></i> -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-recycle" viewBox="0 0 16 16">
                                    <path
                                        d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z" />
                                </svg>
                                <span>Recycle Bin</span>
                            </a>
                            <ul class="submenu {%block archive_submenu%}{%endblock%}">
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:recycle_all_owners'%}">Owners</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:recycle_all_vehicles'%}">Vehicles</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:recycle_all_drivers'%}">Drivers</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:recycle_all_clients'%}">Clients</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'admin:recycle_all_request'%}">Bookings</a>
                                </li>



                            </ul>

                        </li>
                        {%endif%}
                        <li class="sidebar-item  ">
                            <a href="{%url 'admin:logout'%}" class='sidebar-link'>
                                <i class="bi bi-life-preserver"></i>
                                <span>Logout</span>
                            </a>
                        </li>




                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible show fade">
                <strong>{{ message|capfirst }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">

                        <li class="dropdown">
                                                        <a href="#" id="notification-icon" data-toggle="collapse" data-target="#notification-details" aria-expanded="false"
                                                            aria-controls="notification-details">
                                                            <i class="bi bi-bell-fill"></i>
                                                            {% if count %}
                                                              <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                                                    <div class="avatar me-1">                
                                                            
                                                                        <span id="notification-count-badge" class="badge  bg-danger">
                                                                                {{ count }}
                                                                        </span>
                                                                    </div>
                                                                                    
                                                             </a>

                                                            {% endif%}
                                                        </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                {%for  notification in latest_notifications %}
                                        <a class="dropdown-item" href="{%url 'admin:notification_seen' pk=notification.id vehicle_id=notification.booking %}">
                                            <i class="bi bi-bell-fill "></i>
                                               {{notification.message}} 
                                        </a>
                                        <div class="dropdown-divider"></div>

                               {% endfor %}
                            </div>
                             <a href="#" data-bs-toggle="dropdown"
                             class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    {%if user.profile_image%}
                                    <img src="{{user.profile_image.url}}" alt="" srcset="">
                                    {%else%}
                                    <img src="/static/images/faces/1.jpg" alt="" srcset="">
                                    {%endif%}
                                </div>

                                <div class="d-none d-md-block d-lg-inline-block">Hi, {{user.username|title}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="{%url 'admin:my_profile' pk=user.id%}"><i
                                        data-feather="user"></i> Account</a>
                                <a class="dropdown-item" href="{%url 'admin:password_change'%}"><i
                                        data-feather="settings"></i>Change Password</a>
                                <!-- <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{%url 'admin:logout'%}"><i data-feather="log-out"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            {%block page_title%}
                            <h3>Dashboard</h3>
                            {%endblock%}
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">

                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{%url 'admin:index'%}">Dashboard</a></li>
                                    {%block page_links%}
                                    {%endblock%}
                                </ol>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>

            <div class="page-content">
                {%block content%}

                {%endblock%}
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p id="copyright"></p>
                    </div>
                    <div class="float-end">
                        <p>Powered by <a href="https://harootech.com">Haroo Technologies</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {

                const year = new Date().getFullYear();
                document.getElementById('copyright').innerHTML = `${year}  &copy; Adinas Car Rent`
                function isNumber(kkk) {
                    $("#" + kkk).val($("#" + kkk).val().replace(/[^\d.]/g, ''));
                }

                   var notificationIcon = document.getElementById('notification-icon');
                var notificationDetails = document.getElementById('notification-details');
                var notificationCountBadge = document.getElementById('notification-count-badge');

                notificationIcon.addEventListener('click', function () {
                    var notifications = JSON.parse('{{ latest_notifications|safe }}');
                    notificationDetails.innerHTML = '';
                    notifications.forEach(function (notification) {
                        var pElement = document.createElement('p');
                        pElement.textContent = notification.fields.title;
                        notificationDetails.appendChild(pElement);
                    });

                    notificationCountBadge.textContent = notifications.length;

                    if (notificationDetails.classList.contains('show')) {
                        notificationDetails.classList.remove('show');
                    } else {
                        notificationDetails.classList.add('show');
                    }
                });
         });
        
        </script>
    <script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/vendors/apexcharts/apexcharts.js"></script>
    <script src="/static/js/pages/dashboard.js"></script>
    <script
        src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script
        src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <!-- filepond -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script><script
    type="text/javascript"
    src="/static/vendors/DataTables/datatables.min.js"
  ></script>
    <script>
         $(function() {
  

  /*
   * Initialse DataTables, with no sorting on the 'details' column
   */
  var oTable = $('#hidden-table-info, #hidden-table-infob,'+
                '#hidden-table-infom, #hidden-table-infof, '+
                '#hidden-table-infot, #hidden-table-infoy').dataTable({
    "scrollX": false,
    dom: 'Bfrtip',
    buttons: [
      'csv', 'excel', 'pdf', 'print'
    ],
    "aoColumnDefs": [{
      "bSortable": false,
      "aTargets": [0]
    }],
    "aaSorting": [
      [0, 'asc']
    ]
  }); 
  

});

    </script>
    {%block scripts%}

    {%endblock%}
    <script src="/static/js/main.js"></script>
</body>

</html>