{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}

<style>
  .content-panel {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 600px;
  }
</style>

{%endblock%}
{%block web%}active{%endblock%}
{%block web_submenu%}active{%endblock%}
{%block page_title%}
<h3>{{subtitle}}</h3>
{%endblock%}
{%block page_links%}
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:get_all_message'%}">Message List</a></li>
{%endblock%}
{%block content%}
<div class="card">
  <div class="card-header">
    {% if perms.web.add_message  %}
    <a type="button" href="{%url 'admin:create_message'%}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
      {%translate 'Add New Message'%}</a>
    {%endif%}
  </div>
  <hr>
  <div class="card-body">
    <table class="table table-striped" id="hidden-table-info">
      <thead>
        <tr>
          <th>{%translate 'No'%}</th>
          <th>{%translate 'Name'%}</th>
          <th class="hidden-phone">{%translate 'Phone Number'%}</th>
          <th class="hidden-phone">{%translate 'Email'%}</th>
          <th class="hidden-phone">{%translate 'Note'%}</th>
          <th class="hidden-phone">{%translate 'Action'%}</th>
        </tr>
      </thead>
      <tbody>
        {%for object in vehicle_data%}
        <tr class="gradeA">
          <td>{{forloop.counter}}</td>
          <td>{{object.name}}</td>
          <td>{{object.phone_number}}</td>
          <td>{{object.email}}</td>
          <td class="center hidden-phone">{{object.note|slice:":80"}}</td>
          <td>
          {% if perms.web.change_message  %}
             <a href="{%url 'admin:update_message' web_id=object.id%}" title="Update/View Message Information"
                class="btn btn-primary btn-sm">
                <i class="bi bi-pencil-square"></i>
              </a>
            {%endif%}

          {% if perms.web.delete_message  %}
            <a href="{% url 'admin:delete_message' web_id=object.id %}" title="Delete Message"
  class="btn btn-danger btn-sm delete-driver" data-driver-id="{{ object.id }}">
  <i class="bi bi-archive"></i> 
</a>            {%endif%}

          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endblock%}
{%block scripts%}
{%endblock%}