{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}
<link rel="stylesheet" href="/static/vendors/choices.js/choices.min.css" />
<style>
  .errorlist {
    color: red;
  }
  .image-link {
    display: inline-block;
}

/* Style for circular or square shape */
.rounded-image {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* For a circular shape; Use border-radius: 8px; for a square shape */
    overflow: hidden;
    border: 2px solid #ccc; /* Optional: Add border */
}

/* Style for the image */
.rounded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}

/* Optional hover effect */
.rounded-image:hover {
    border-color: #000; /* Change border color on hover */
}
 #profileImageModal .modal-body {
    width: 300px; /* Set a fixed width for the image container */
    height: 300px; /* Set a fixed height for the image container */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
  }

  #profileImageModal .modal-body img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
    object-fit: contain; /* Maintain aspect ratio within the square */
  }

  /* Adjustments for Driver's License Image Modal */
  #licenseImageModal .modal-body {
    width: 300px; /* Set a fixed width for the image container */
    height: 300px; /* Set a fixed height for the image container */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
  }

  #licenseImageModal .modal-body img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image fits within the container */
    object-fit: contain; /* Maintain aspect ratio within the square */
  }
  .viewImage {
        font-size: 0.75rem; /* Adjust the font size to make it smaller */
        padding: 0.28rem 0.24rem; /* Adjust the padding to reduce the overall size */
    
  }


</style>
{%endblock%}
{%block clients%}active{%endblock%}
{%block clients_submenu%}active{%endblock%}
{%block page_title%}
<h3>{{subtitle}}</h3>
{%endblock%}
{%block page_links%}
<li class="breadcrumb-item" aria-current="page"><a href="{%url 'admin:get_all_clients'%}">Clients List</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:get_one_client' client_id=object.id%}">Client  Detail</a></li>
{%endblock%}

{%block content%}
<div class="card">
  <h4 class="card-header">{% translate 'Client Information'%}</h4>
  <div class="card-body">

    <form role="form" action="{%url 'admin:update_client' client_id=object.id%}" method="POST" enctype="multipart/form-data"
      class="form-horizontal  style-form">
      {%csrf_token%}

      <!-- {{form|crispy}} -->
    <div class="form-group row">
      <div class="col-md-6">
        <label>{{form.company_name.label}}</label>
        {{form.company_name}}
        <p class="alert-warning">{{form.company_name.errors}}</p>
      </div>
      <div class="col-md-6">
        <label>{{form.company_email.label}}</label>
        {{form.company_email}}
        <p class="alert-warning">{{form.company_email.errors}}</p>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label>{{form.company_phone.label}}</label>
        {{form.company_phone}}
        <p class="alert-warning">{{form.company_phone.errors}}</p>
      </div>
      <div class="col-md-6">
        <label>{{form.address.label}}</label>
        {{form.address}}
        <p class="alert-warning">{{form.address.errors}}</p>
      </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
          <label>{{form.focal_person_name.label}}</label>
          {{form.focal_person_name}}
          <p class="alert-warning">{{form.focal_person_name.errors}}</p>
        </div>
        <div class="col-md-6">
          <label>{{form.phone_number.label}}</label>
          {{form.phone_number}}
          <p class="alert-warning">{{form.phone_number.errors}}</p>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
          <label>{{form.email.label}}</label>
          {{form.email}}
          <p class="alert-warning">{{form.email.errors}}</p>
</div>
  <div class="col-md-6">
        <label>{{form.license.label}}</label>
        <div class="input-group">
          {{form.license}}
          <p class="alert-warning">{{form.license.errors}}</p>
          {%if object.license%}
            <a href="{{ object.license.url }}" target="_blank" class="btn btn-primary" role="button">
              View
            </a>
          {%endif%}
        </div>
        {{form.license.help_text}}

  </div>
</div>


      
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-primary">{% translate 'Save Changes'%}</button>
          <a href="{%url 'admin:get_all_clients' %}" class="btn btn-danger" type="button">{% translate 'Cancel'%}</a>
        </div>
      </div>
    </form>
  </div>

</div>


{%endblock%}

{%block scripts %}
<script>
      document.addEventListener("DOMContentLoaded", function () {

          const openLicenseModalBtn = document.getElementById("openLicenseModalBtn");
          const licenseImageModal = document.getElementById("licenseImageModal");
          const licenseImage = document.getElementById("licenseImage");
          const licenseImageUrl = "{{ object.license.url }}"; // Replace with your driver's license image URL

          openLicenseModalBtn.addEventListener("click", function () {
            licenseImage.setAttribute("src", licenseImageUrl);
            const myLicenseModal = new bootstrap.Modal(licenseImageModal);
            myLicenseModal.show();
          });
        });

</script>
<script src="/static/vendors/choices.js/choices.min.js"></script>
<script src="/static/js/pages/form-element-select.js"></script>

{%endblock%}