{%extends 'admin/base_site.html'%}
{%load i18n%}
{%load crispy_forms_tags%}
{%block extrastyle%}
<style>
  .content-panel {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 600px;
  }
</style>

{%endblock%}
{%block clients%}active{%endblock%}
{%block clients_submenu%}active{%endblock%}
{%block page_title%}
<h3>{{subtitle}}</h3>
{%endblock%}
{%block page_links%}
<li class="breadcrumb-item active" aria-current="page"><a href="{%url 'admin:get_all_clients'%}">Client List</a></li>
{%endblock%}
{%block content%}

<div class="card">
  <div class="card-header">
    {% if perms.account.client.add_client or user.is_superuser%}
    <a type="button" href="{%url 'admin:create_client'%}" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
      {%translate 'Add New Client'%}</a>
    {%endif%}
  </div>
  <hr>
  <div class="card-body">
    <table class="table table-striped" id="hidden-table-info">
      <thead>
        <tr>
          <th>{%translate 'No'%}</th>
          <th>{%translate 'Company Name'%}</th>
          <th>{%translate 'Company Email'%}</th>
          <th>{%translate 'Company Phone'%}</th>
          <th>{%translate 'Focal Person Name'%}</th>
          <th class="hidden-phone">{%translate 'Phone Number'%}</th>
          <th>{%translate 'Action'%}</th>
        </tr>
      </thead>
      <tbody>
        {%for object in clients_data%}
        <tr class="gradeA">
          <td>{{forloop.counter}}</td>
          <td>{{object.company_name}}</td>
          <td>{{object.company_email}}</td>
          <td>{{object.company_phone}}</td>
          <td>{{object.focal_person_name}}</td>
          <td class="center hidden-phone">{{object.phone_number}}</td>
           <td>
            {% if perms.accounts.client.change_client or user.is_superuser%}
                        {% if object.is_active %}
                        <a href="{%url 'admin:activate_deactivate_client' client_id=object.id%}" data-driver-id="{{ object.id }}" title="Activate Deactivate Client"
                          class="activate-driver btn btn-danger btn-sm">
                           <i class="bi bi-x-circle"></i>
                        </a>
                        {% else %}
                        <a href="{%url 'admin:activate_deactivate_client' client_id=object.id%}" data-driver-id="{{ object.id }}"
                          title="Activate Deactivate Client" class="activate-driver btn btn-success btn-sm">
                          <i class="bi bi-check-circle"></i>
                        </a>
                        {% endif %}

             <a href="{%url 'admin:update_client' client_id=object.id%}" 
                title="Update/View Client Information"
                class="btn btn-primary btn-sm">
                <i class="bi bi-pencil-square"></i>
              </a>
            </a>
            {%endif%}

            {% if perms.accounts.client.delete_client or user.is_superuser %}
            <a href="{% url 'admin:recycle_client' client_id=object.id %}" title="Delete Client"
                   onclick="return confirm('Are You Sure You Want To Delete this User?');" class="btn btn-danger btn-sm">
                  <i class="bi bi-archive"></i> 
            </a>            
            {%endif%}
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%endblock%}
{%block scripts%}
<script>
  // Simple Datatable
</script>
{%endblock%}